/* Reset de margens, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #abd6e7; /* Adicionando uma cor de fundo neutra */
}

/* Estilo do header */
header {
    background-color: hsl(194, 100%, 20%);
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
}

/* Estilo do menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul.hidden {
    display: none;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Estilo da seção de introdução */
.intro {
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
}

/* Estilo da imagem circular de perfil */
.intro img.perfil {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

/* Estilo para as seções principais */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Estilo para a área de cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Estilo dos cards individuais */
.card {
    background: #5255e43f;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

/* Estilo dos links dentro dos cards */
.card a {
    color: #000000;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Estilo para imagens redondas (perfil ou outras) */
.foto-redonda {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    object-fit: cover;
}

/* Estilo para botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #127fc7;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #dacf93;
}

/* Estilo para o footer */
footer {
    text-align: center;
    padding: 10px;
    background: #a5b0b3;
    color: rgb(0, 0, 0);
}
